<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<head>
  <link
    rel="stylesheet"
    href="/css/dashboard.css"
  />
</head>
<body class="hold-transition dark-mode sidebar-collapse" style="overflow-y: hidden;">
  <script>
    /** @param {string[]} messages */
    function message(messages) {
      const len = messages.length;
      messages = messages.join('\n');
      swal({
        title: `You have ${len > 1 ? `${len} messages` : `a message`}`,
        text: messages,
        icon: 'info',
        button: "I've read them all"
      });
    }
  </script>
  <div class="wrapper">
    <div class="content-wrapper" style="background-color: #666699;">
      <% if(user.messages.length > 0) { %>
        <script data-messages="<%= JSON.stringify(user.messages) %>">
          const data = JSON.parse(document.currentScript.dataset.messages);
          console.log({data, type: typeof data});
          
          message(data);
        </script>
      <% } %>
      <div class="row-cols-1">
        <div class="col">
          <div class="card card-outline card-purple docker-box">
            <div class="card-header">
              <h3 class="card-title">Docker Controls</h3>
            </div>
            <div class="card-body container">
              <% if (user.dockerid == '' && !user.verifying && !user.verified) { %>
                <form action="/upload" method="post" enctype="multipart/form-data">
                  <input name="zip" type="file" class="btn btn-file" />
                  <button type="submit" class="btn btn-success" style="position: absolute; right: 3%;">
                    Upload
                  </button>
                </form>
              <% } else if(user.verifying) { %>
                <h2>Files are awating verification</h2>
              <% } else { %>
                  <a href="/logs"><button class="btn btn-info" style="margin-right: 3px;">Logs</button></a>
                  <% if(user.running) { %>
                    <a href="/shutdown"><button class="btn btn-danger" style="margin-right: 3px;">Stop</button></a>
                    <% } else { %>
                      <a href="/start"><button class="btn btn-success" style="margin-right: 3px;">Start</button></a>
                    <% } %>
                  <a href="/stats"><button class="btn btn-info" style="margin-right: 3px;">Stats</button></a>
                  <a href="/delete"><button class="btn btn-danger" style="margin-right: 3px;">Delete</button></a>
              <% } %>
            </div>
            <% if(user.verifying) { %>
              <div class="overlay dark">
                <i class="fa-solid fa-2xl fa-rotate spin"></i>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>