<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<head>
  <link
    rel="stylesheet"
    href="/css/dashboard.css"
  />
</head>
<body class="hold-transition dark-mode sidebar-collapse" style="overflow: hidden;">
  <script>
    /** @param {string[]} messages */
    function message(messages) {
      const len = messages.length;
      messages = messages.join('\n');
      swal({
        title: `You have ${len > 1 ? `${len} messages` : `a message`}`,
        text: messages,
        icon: 'info',
        button: "I've read them all"
      });
    }
  </script>
  <div class="wrapper">
    <div class="content-wrapper" style="background-color: #666699;">
      <% if(user.messages.length > 0) { %>
        <script data-messages="<%= JSON.stringify(user.messages) %>">
          const data = JSON.parse(document.currentScript.dataset.messages);
          console.log({data, type: typeof data});
          
          message(data);
        </script>
      <% } %>
      <div class="row">
        <div class="col">
          <%- include('includes/dockers', user.dockers) %>
          <div class="card card-outline card-purple docker-box">
            <div class="card-body">
              <% if(Object.entries(user.dockers).length < user.maxContainers) { %>
                <a href="/addDocker" style="position:relative; left: 41.5%"><button class="btn-lg btn-primary"><i class="fa-solid fa-plus"></i> Add Docker container</button></a>
              <% } else { %>
                <button class="btn-lg btn-primary disabled" style="position:relative; left: 41.5%; cursor: not-allowed;"><i class="fa-solid fa-plus"></i> Add Docker container</button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>