<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<head> <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
/></head>
<body class="hold-transition dark-mode sidebar-collapse">
  <div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-dark">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </ul>
    </nav>

    <div class="content-wrapper" style="background-color: #666699;">
      <div class="content">
        <section>
          <img src="/images/nodehosting logo.png">
          <h3 class="text-center">NodeHosting is a free and reliable hosting</h3>
          <h3 class="text-center">platform for your nodejs applicaitons</h3>
          <br><br>
          <h3 class="text-center">We are currently only allowing users to have one application at a time</h3>
        </section>
      </div>
    </div>
  </div>
</body>
</html>