<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<head>
  <link
    rel="stylesheet"
    href="/css/index.css"
  />
</head>
<body class="hold-transition dark-mode sidebar-collapse">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content">
        <header>
          <img src="/images/nodehosting logo.png">
          <p>Host your Node.js Applications with ease using Docker</p>
        </header>

        <section>
          <h2>Why Choose Node Hosting?</h2>
          <p>Node Hosting provides a reliable platform for hosting your Node.js applications. We give you the same amount of system resources as Replit.</p>

          <h2>Key Features</h2>
          <ul>
              <li>Easy Deployment: Deploy your Node.js applications with just a few clicks.</li>
              <li>Docker Integration: Benefit from the flexibility and isolation that Docker provides for your application environments.</li>
              <li>24/7 Support: Our dedicated support team is available around the clock to assist you.</li>
          </ul>

          <h2>Get Started Today!</h2>
          <p>Ready to host your Node.js applications with Node Hosting and Docker? Sign up now and experience seamless deployment and hosting.</p>

          <a href="/register"><button class="btn btn-default">Sign Up</button></a>
          <a href="/login"><button class="btn btn-default">Log In</button></a>
        </section>

        <section>
          <h2>Why Docker?</h2>
          <p>Docker allows you to package your application and its dependencies into a container, ensuring consistency across development, testing, and production environments. With Node Hosting, you can harness the power of Docker to streamline your deployment process and enhance the scalability and reliability of your applications.</p>
        </section>

        <section>
          <h2>Pricing</h2>
          <p>1 docker container will always be free with no option to buy more at this moment. There are ads to help with the cost of everything, I wont have a popup to remind you to disable it ever but I will ask you here to please help me and disable your adblock on this website</p>
        </section>
      </div>
    </div>
  </div>
</body>
</html>