<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %> 
<body class="dark-mode login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <h6 class="login-box-msg" style="color: red;"><%- message %></h6>
        <h5 class="login-box-msg">Login to your account</h5>
        <form action="/login" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="email" name="email" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="password" name="password" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-block">
                Log In
              </button>
            </div>
          </div>
        </form>
        <p class="mb-0">
          <a href="/register" class="text-center">Register</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>