<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="dark-mode login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <h6 class="login-box-msg">Create to your account</h6>
        <form action="/register" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="email" name="email" autocomplete="email" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-at"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="username" name="username" autocomplete="username" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="password" name="password" autocomplete="off" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" minlength="8" placeholder="retype password" name="password2" autocomplete="off" required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <p>By pressing the register button below you accept our <a href="/legal/terms" target="_blank">Terms of Service</a> and <a href="/legal/privacy" target="_blank">Privacy Policy</a></p>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </div>
          </div>
        </form>
        <p class="mb-0">
          <a href="/login" class="text-center">Log In</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>