<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %> 
<head>
  <style>
    html,body{
      height: 100%;
      margin: 0;
    }

    .full {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 5px;
      height: 100%;
    }

    tr, th {
      padding: 20px;
    }
  </style>
</head>
<body class="hold-transition dark-mode sidebar-collapse" style="overflow-y: hidden;">
  <div class="content-wrapper" style="background-color: #666699;">
    <div class="row-cols-1" style="height: 100%;">
      <div class="col">
        <div class="card card-outline card-blue full">
          <div class="card-header">
            <span class="card-title">Stats</span>
            <a href="/dashboard" class="position-absolute" style="right: 3%"><button class="btn btn-dark">back</button></a>
          </div>
          <div class="card-body">
            <table>
              <% stats.forEach(obj => { %>
                <%- include('includes/stats', {stat: obj}) %>
              <% }) %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    (() => {
      setTimeout(() => {
        location.reload();
      }, 30000);
    })();
  </script>
</body>
</html>