.docker-box {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.spin {
  animation: spin 2500ms linear infinite;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.text {
  color: white;
}

.text:hover {
  color: red;
}